{{#if addAnswer}}
  <h1>Add Answer</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="author">User:</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="content">Answer:</label>
          {{input value=content id="content"}}
        </div>

        <button {{action 'saveAnswer1'}}>Save</button>
      </form>
    </div>
{{else}}
  <button {{action 'answerFormShow'}}>Add Answer</button>
{{/if}}
