{{#if addAnswer}}
  <h3>Add answer</h3>
    <div>
      <form>
        <div class="form-group">
          <label for="content">Answer:</label>
          {{input value=content id="content"}}
        </div>

        <div class="form-group">
          <label for="author">Author:</label>
          {{input value=author id="author"}}
        </div>
        <button {{action 'saveAnswer1'}}>Post</button>
      </form>
    </div>
{{else}}
  <button {{action 'answerFormShow'}}>Add Answer</button>
{{/if}}
