<div class="row">
  <div class="col-sm-1">
    {{question-popularity question}}
  </div>
  <div class="col-sm-1">
    <span class="glyphicon glyphicon-triangle-top highlight" {{action 'upVote' question}}></span>
    <h6>{{question.votes}}</h6>
    <span class="glyphicon glyphicon-triangle-bottom highlight" {{action 'downVote' question}}></span>
  </div>
  <div class="col-sm-9">
    {{#link-to 'question' question.id}}<h2>{{question.content}}</h2>{{/link-to}}
    <h6><span class="glyphicon glyphicon-eye-open highlight" {{action 'addFavoriteQuestion' question}}></span></h6>
  </div>
</div>
