<li>Queston: {{model.content}}<br>
    Author: {{model.author}}<br>
    Notes: {{model.notes}}
</li>

{{edit-question question=model editQuestionSave="editQuestionSave"}}
<button {{action 'delete' model}}>Delete</button>
