<ul>
  <li>Queston: {{model.content}}<br>
      Author: {{model.author}}<br>
      Notes: {{model.notes}}<br>
    </li>
</ul>

{{edit-question question=model editQuestionSave="editQuestionSave"}}
<button {{action 'delete' model}}>Delete</button>

<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

{{new-answer question=model saveAnswer2="saveAnswer3"}}
